name: Release
on:
  push:
    tags:
      - v*

env:
  CI: true
  FORCE_COLOR: true

jobs:
  release:
    name: Build and release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false
      - uses: actions/setup-node@v3
        with:
          node-version: '19.x'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: |
          # ...yeah, I don't know. Something something compilation order.
          mv runtime/src/extension-preloader.ts ../
          pnpm build
          mv ../extension-preloader.ts runtime/src/
          pnpm build

      - name: Create the distributables
        run: node scripts/make-dist-archives.js

      - name: Get some values needed for the release
        id: release_values
        run: |
          echo "release_date=$(date '+%Y-%m-%d')" >> $GITHUB_ENV
          echo "release_tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Create the release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ALYX_TOKEN }}
        with:
          name: ${{ env.release_tag }}, ${{ env.release_date }}
          draft: true
          prerelease: false
          body_path: .github/release_body_template.md
          files: |
            ccloader_${{ env.release_tag }}_package.tgz
            ccloader_${{ env.release_tag }}_package.zip
            ccloader_${{ env.release_tag }}_quick-install.tgz
            ccloader_${{ env.release_tag }}_quick-install.zip
